TMDB_API_KEY=your_tmdb_api_key_here
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TMDB_RESILIENCE_LOGS=1
TMDB_DETAILS_FRESH_TTL_MS=
TMDB_DETAILS_STALE_TTL_MS=
TMDB_RECS_FRESH_TTL_MS=
TMDB_RECS_STALE_TTL_MS=
TMDB_DETAILS_RETRY_SOON_TTL_MS=
TMDB_DETAILS_QUICK_FALLBACK_TIMEOUT_MS=
TMDB_SEARCH_FRESH_TTL_MS=
TMDB_SEARCH_STALE_TTL_MS=
TMDB_OUTBOUND_TOKENS_PER_SECOND=
TMDB_OUTBOUND_BUCKET_SIZE=
TMDB_OUTBOUND_QUEUE_LIMIT=
TMDB_OUTBOUND_QUEUE_TIMEOUT_MS=
PREWARM_SECRET=
PREWARM_MOVIE_LIMIT=
PREWARM_POPULAR_PAGES=
PREWARM_BATCH_SIZE=
PREWARM_CONCURRENCY=
